@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> please login by entering your name and password</h1>
<p> name :</p>
<p> password:</p>
@Html.ActionLink("click here to login", "index","Login")


<h2> if you want to register</h2>
<p> name :</p>
<p> password:</p>
@Html.ActionLink("click here to register", "index","Login")